@font-face {
    font-family: 'Moonrising';
    src: url(/web_report_custom_fonts/static/src/fonts/Moonrising.ttf) format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    src: url(/web_report_custom_fonts/static/src/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: lighter;
    src: url(/web_report_custom_fonts/static/src/fonts/OpenSans-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: bolder;
    src: url(/web_report_custom_fonts/static/src/fonts/OpenSans-Bold.ttf) format('truetype');
}

.use-font-moonrising {
    font-family: 'Moonrising';
}

.use-font-opensans {
    font-family: 'OpenSans';
}
